:root {
  --font-body: "Open Sans", sans-serif;
  --font-display: "Inknut Antiqua", serif;

  --font-size-body: 1rem;
  --line-height-body: 1.2;

  --font-size-h1: 4rem;
  --line-height-h1: 1.2;

  --font-size-h2: 2.5rem;
  --line-height-h2: 1.2;

  --font-size-h3: 1.5rem;
  --line-height-h3: 1.2;

  --font-size-sub-heading: 1.25rem;
  --font-size-caption: 0.875rem;
  --line-height-caption: 1.3;

  --color-bg-gray: #e9e9e9;
  --color-text-body: #3a3a3a;
  --color-text-body-light: #5a5a5a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg-gray);
  color: var(--color-text-body);

  font-family: var(--font-body);
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);

  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  min-height: 100dvh;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* HEADER, FOOTER */

header,
footer {
  width: 100%;
  display: flex;
  padding: 1rem 1rem;
  justify-content: center;
}

@media screen and (min-width: 1024px) {

  header,
  footer {
    padding: 2rem 1rem;
    justify-content: flex-start;
  }
}

/* MAIN */

main {
  flex: 1;
}

/* LINKS */

a,
a:visited,
a:active {
  text-decoration: none;
  cursor: pointer;
  color: #3a3a3a;
}

a:hover {
  text-decoration: underline;
}

header a:hover {
  text-decoration: none;
}

/* HEADINGS */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inknut Antiqua", serif;
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
}

h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
}

h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
}

ul {
  list-style: none;
}

ul ul {
  padding-top: 1rem;
  padding-left: 2rem;
}

/* ------------------- */

.sub-heading {
  font-family: var(--font-body);
  font-size: var(--font-size-sub-heading);
  font-weight: normal;
  color: var(--color-text-body-light);
}

.caption {
  font-family: var(--font-body);
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);
  font-weight: normal;
  color: var(--color-text-body-light);
}

.image-caption {
  display: inline-flex;
  align-items: baseline;
  font-family: var(--font-body);
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);
  font-weight: normal;
  color: var(--color-text-body-light);
  padding: 0 1rem;
}

.image-caption>.image-caption-drop-cap {
  font-family: var(--font-display);
  font-size: var(--font-size-sub-heading);
  font-weight: bold;
  color: var(--color-text-body-light);
  margin: 0 0.5rem 0 0;
}

@media screen and (min-width: 1024px) {
  .image-caption {
    flex-direction: column;
    gap: 1rem;
    padding: 0;
  }
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

/* -------- BLOG TITLE ---------- */

.blog-title {
  font-family: var(--font-display);
  font-size: 1.5rem;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  color: #3a3a3a;
}

@media screen and (min-width: 1024px) {
  .blog-title {
    font-size: 2rem;
  }
}

/* ------- BLOG LIST ---------- */

.blog-list-hero {
  position: relative;
  height: 50dvh;
}

@media screen and (min-width: 1024px) {
  .blog-list-hero {
    height: 60vh;
  }
}

.blog-list-hero .container {
  height: 100%;
}

.blog-list-hero img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.blog-list-hero:before {
  content: "";
  position: absolute;
  background-color: white;
  width: 50%;
  height: 300px;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.blog-list-hero:after {
  content: "";
  position: absolute;
  bottom: -2rem;
  left: -1rem;
  width: 40%;
  height: 10rem;
  background-image: radial-gradient(rgba(0, 0, 0, 0.15) 2px, transparent 0.5px);
  background-size: 10px 10px;
  z-index: 1;
}

.blog-list {
  background-color: white;
  min-height: 40dvh;
}

.blog-list .container {
  padding: 2rem 1rem 2rem;
}

/* ----------- BLOG POST ------------ */

.blog-post-hero {
  position: relative;
}

.blog-post-hero-image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 30%;
}

.blog-post-hero-text {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.blog-post-hero-text>h1 {
  font-size: 3rem;
}

.blog-post-hero-text .caption {
  margin-top: 0.5rem;
}

.blog-post-hero-text .sub-heading {
  margin-top: 1rem;
}

@media screen and (min-width: 1024px) {
  .blog-post-hero {
    min-height: 700px;
    display: flex;
  }

  .blog-post-hero:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 200px;
    background-color: white;
  }

  .blog-post-hero .container {
    flex: 1;
    position: relative;
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .blog-post-hero-image {
    position: absolute;
    width: 60%;
    height: 650px;
    max-width: 100%;
    right: 0;
    z-index: 0;
    align-self: flex-start;
  }

  .blog-post-hero-text {
    padding: 0 0 0 1rem;
    z-index: 1;
  }

  .blog-post-hero-text>p:nth-child(3) {
    width: 290px;
    margin-top: 2rem;
  }
}

/* --------------- */

.section-white {
  position: relative;
  background-color: white;
}

.section-white:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 30%;
  height: 60%;
  background-color: #e9e9e9;
}

@media screen and (min-width: 1024px) {
  .section-white:before {
    content: "";
  }
}

.section-container {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem 0 3rem;
}

.section-white .section-text {
  padding: 0 1rem 2rem;
}

@media screen and (min-width: 1024px) {
  .section-white .section-text {
    padding-left: calc(300px + 2rem);
    min-height: 260px;
  }
}

.section-text>h2 {
  position: relative;
  margin-bottom: 2rem;
}

.section-text>h2:before {
  content: "";
  position: absolute;
  top: 0;
  left: -6rem;
  width: 50%;
  height: calc(100% + 1rem);
  background-image: radial-gradient(rgba(0, 0, 0, 0.15) 2px, transparent 0.5px);
  background-size: 10px 10px;
}

.section-text>p~p {
  margin-top: 2rem;
}

.section-carousal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.section-carousal figure img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1024px) {
  .section-carousal {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 1rem;
  }

  .section-carousal figure {
    display: flex;
    align-items: center;
    flex-basis: 225px;
    flex-grow: 0;
    flex-direction: column;
    gap: 2rem;
  }

  .section-carousal figure:first-child {
    flex-basis: 300px;
  }

  .section-carousal figure:first-child {
    margin-top: calc(-225px - 2rem);
  }

  .section-carousal figure:first-child img {
    box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.25);
    border: 10px solid white;
    transform: rotate(-7deg) translateX(-5px) translateY(10px);
    transition: transform 300ms ease-in-out, box-shadow 300ms ease-in-out;
  }

  .section-carousal figure:first-child img:hover {
    box-shadow: 0px 10px 30px -3px rgba(0, 0, 0, 0.3),
      0px 2px 4px -1px rgba(0, 0, 0, 0.05);
    transform: rotate(-2deg) translateX(-5px) translateY(10px) scale(120%);
  }
}

/* ------------- */

.section-gray {
  position: relative;
  background-color: #e9e9e9;
}

.section-gray:before {
  position: absolute;
  right: 0;
  bottom: 8.5rem;
  width: 85%;
  height: 200px;
  background-color: white;
}

@media screen and (min-width: 1024px) {
  .section-gray:before {
    content: "";
  }
}

.section-gray .section-text {
  padding: 0 1rem 2rem;
}

.section-gray .section-text>h2:before {
  left: -3rem;
}

@media screen and (min-width: 1024px) {
  .section-gray .section-text {
    padding-right: calc(300px + 2rem);
    min-height: 260px;
  }

  .section-gray .section-carousal {
    flex-direction: row-reverse;
  }

  .section-gray .section-carousal figure:first-child img {
    transform: rotate(8deg) translateX(5px) translateY(20px);
  }

  .section-gray .section-carousal figure:first-child img:hover {
    transform: rotate(3deg) translateX(5px) translateY(20px) scale(120%);
  }
}

/* MOTIFS */

.cycle-motif {
  position: absolute;
  opacity: 0.2;
  top: 0;
  left: -6rem;
  transform: scale(1.25) rotate(90deg);
  filter: invert();
}

.helmet-motif {
  position: absolute;
  opacity: 0.2;
  top: -2rem;
  right: -2rem;
  transform: scale(1.5);
}

/* UTILITY CLASSES */

.bold {
  font-weight: bold;
}
