:root {
  --primary-color: rgb(50,50,255);
  --secondary-color: rgb(90,150,255);

  --red-color: rgb(244, 67, 54);
}

.background-red {
  background-color: var(--red-color) !important;
}

.background-blue-blend {
  background-image: radial-gradient(circle, var(--primary-color), var(--secondary-color)), linear-gradient(var(--red-color), var(--secondary-color));
}

html, body {
  height: 100%;
  font-size: 16px;
}

* {
  font-family: "roboto";
  font-weight: 300;
  color: #696969;
  box-sizing: border-box;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

body {
  margin: 0;
  padding: 0;
  background-color: #eee;
}

h1, h2, h3 {
  margin-top: 0;
}

h1 {
  font-weight: 300;
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  font-style: italic;
}

h4 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

hr {
  height: 1px;
  border: none;
  color: #ccc;
  background-color: #ccc;
}

strong {
  font-weight: bold;
}

.header-ribbon:before {
  content: "";
  width: 100%;
  height: 17rem;
  background-color: rgb(50,50,255);
  background-color: var(--primary-color);
  background-image: radial-gradient(circle, var(--primary-color), var(--secondary-color));
  position: absolute;
  z-index: -1;
  border-bottom: 1px solid #aaa;
}

.container {
  margin: 0 1rem;
  position: relative;
  padding-top: 4rem;
}

section {
  margin: 1rem 0;
  position: relative;
  font-size: 1.2rem;
}

section > p {
  text-align: justify;
}

.card {
  position: relative;
  background-color: white;
  padding: 1.5rem;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),1px 3px 1px -2px rgba(0,0,0,.2),-1px 1px 5px 0 rgba(0,0,0,.12);
}

.grid-col {
  text-align: center;
}

.grid-col > * {
  display: inline-block;
}

.grid-col.m4 > * {
  width: 100%;
  margin-left: 0;
  margin-bottom: 1rem;
}

.grid-row:last-child > .grid-col > *:last-child {
  margin-bottom: 0;
}

.grid-col.m4 > *:nth-child(4n+1) {
  margin-left: 0;
}

.card-small {
  position: relative;
  width: 100%;
  display: inline-block;
  overflow: hidden;
  padding: 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}

.card-image {
  position: relative;
  height: 140px;
  border-radius: 2px 2px 0 0;
}

.card-image > img {
  display: block;
  width: 90%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  transition: transform 200ms ease-in-out;
  -webkit-backface-visibility: hidden;
}

.card-small:hover > .card-image > img {
  transform: translate(-50%, -50%);
}

.card-title {
  font-style: initial;
  position: relative;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.card-content {
  text-align: left;
  font-weight: 100;
  position: relative;
  background-color: white;
  padding: 1rem;
  border-radius: 0 0 2px 2px;
  min-height: 150px;
}

.card-content p {
  margin: 0;
  font-size: 1rem;
}

.hero-image-wrapper {
  overflow: auto;
}

img.hero-image {
  height: 550px;
}

.card-profile-header {
  position: relative;
  margin-bottom: 2rem;
}

img.profile-image {
  padding: 0.35rem;
  border: 1px solid lightgray;
  border-radius: 50%;
  box-shadow: 0px 3px 10px -4px rgba(0,0,0,.3);
  display: inline;
  background-color: white;
}

.center-text {
  text-align: center;
}

.profile-image-large-wrapper {
  width: 49%;
  display: inline-block;
  transition: transform 120ms ease-in-out;
  text-decoration: none;
}

.profile-image-large-wrapper img.profile-image {
  width: 16rem;
  height: 16rem;
  outline: none;
}

.profile-image-large-wrapper h1 {
  font-weight: lighter;
  margin-top: 1rem;
}

.profile-image-large-wrapper:hover {
  transform: scale(1.1);
}

.card-profile-header > img {
  display: block;
  position: relative;
  height: 10.4rem;
  width: 10.4rem;
  margin: 0 auto;
  top: -80px;
  margin-bottom: -60px;
}

.card-profile-title  {
  position: relative;
  text-align: center;
}

.card-profile-title > h1, .card-profile-title > h3 {
  margin: 0;
}

.section-company {
  margin-top: 0;
  margin-bottom: 2rem;
}

.section-company:last-child {
  margin-bottom: 0;
}

.section-company > h3 {
  margin-bottom: 0.5rem;
  font-weight: 300;
}

.project {
  position: relative;
  background-color: #f5f5f5;
  padding: 1rem;
  margin-bottom: 0.7rem;
  border: 1px solid #ddd;
  box-shadow: 0 1px 4px -2px rgba(0,0,0,0.55);
}

.project:last-child {
  margin-bottom: 0;
}

.project-header {
  cursor: pointer;
}

.project-header-title {
  font-weight: normal;
  float: left;
}

.project-header-duration {
  float: right;
}

.project-content strong {
  font-weight: 500;
}

.project-content p {
  margin-bottom: 0;
}

.project-content ul {
  padding-left: 1.2rem;
  margin-bottom: 0;
}

.clearfix {
  float: none;
  clear: both;
}

.fab-container {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 1rem;
  margin-right: 1rem;
  z-index: 999;
}

a.fab {
  position: relative;
  margin: 1rem;
  display: block;
  outline: none;
  width: 55px;
  height: 55px;
  color: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),1px 3px 1px -2px rgba(0,0,0,.2),-1px 1px 5px 0 rgba(0,0,0,.12);
  background-color: var(--secondary-color);
  transition: transform 50ms ease-in-out;
  cursor: pointer;
  z-index: 999;
}

a.fab > img {
  position: relative;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a.fab:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 3px 1px rgba(0,0,0,.2),1px 3px 1px -2px rgba(0,0,0,.2),-1px 1px 5px 0 rgba(0,0,0,.12);
}

/* MOBILE ------------------------------------------------------------------- */
@media only screen and (max-width: 480px) {
  hr {
    width: 100%;
  }

  .container {
    padding-top: 3rem;
  }

  section {
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.2rem;
  }

   .header-ribbon.short:before {
    display: none;
   }

  .card-profile-header > img {
    height: 8rem;
    width: 8rem;
    top: -70px;
    margin-bottom: -50px;
  }

  img.hero-image {
    height: 450px;
  }

  .project-header {
    text-align: center;
  }

  .project-header-title, .project-header-duration {
    float: none;
  }

  .profile-image-large-wrapper {
    display: inline;
  }

  .profile-image-large-wrapper img.profile-image {
    width: 10rem;
    height: 10rem;
  }

  .fab-container {
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
  }
}

/* TABLET ------------------------------------------------------------------- */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .card-profile-header hr {
    width: 50%;
  }

  .grid-col.m4 > * {
    width: 48%;
    margin-left: 1.5%;
    margin-bottom: 1rem;
  }

  .grid-col.m4 > *:nth-child(2n+1) {
  margin-left: 0;
}
}

/* DESKTOP ------------------------------------------------------------------ */
@media only screen and (min-width: 769px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
  }

  section {
    margin: 3rem 0;
  }

  .card {
    padding: 3rem;
  }

  .card-profile-header {
    height: 10.4rem;
  }

  .card-profile-header > img {
    display: inline;
    margin: 0 2.5%;
    top: 0;
  }

  .card-profile-title  {
    text-align: left;
    width: 75%;
    float: right;
    top: 50%;
    transform: translateY(-50%); 
  }

  img.hero-image {
    width: 100%;
    height: initial;
  }

  .project-header-title {
    float: left;
  }

  .project-header-duration {
    float: right;
  }

  .project-content {
    font-size: 0.9em;
  }

  .grid-col.m4 > * {
    width: 22.36%;
    margin-left: 3%;
    margin-bottom: 2rem;
  }

  .grid-row:last-child > .grid-col > * {
    margin-bottom: 0;
  }
}

@media print {
  :root {
    font-size: 10px;
  }

  body {
    background-color: white;
  }

  .header-ribbon:before {
    display: none;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 0;
  }

  section {
    margin: 0;
  }

  .card {
    padding: 1rem;
    box-shadow: none;
  }

  .card-profile-header {
    height: 10.4rem;
  }

  .card-profile-header > img {
    display: inline;
    margin: 0 2.5%;
    top: 0;
  }

  .card-profile-title  {
    text-align: left;
    width: 75%;
    float: right;
    top: 50%;
    transform: translateY(-50%); 
  }

  img.hero-image {
    width: 100%;
    height: initial;
  }

  .project {
    box-shadow: none;
    background-color: white;
  }

  .project-header-title {
    float: left;
  }

  .project-header-duration {
    float: right;
  }

  .project-content {
    font-size: 0.9em;
  }

  .fab-container {
    display: none;
  }

  #projects {
    display: none;
  }
}